body {
  background-color: #00ada2;

  /* Fonts */
  color: #763679;
  font-family: monospace;
  font-weight: lighter;

  /* Layout */
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
}

.links {
  max-width: inherit;
}

.title {
  font-size: 64px;
}

.subtitle {
  font-size: 24px;
}

#canvas-container {
  max-width: 600px;
  max-height: 400px;
}

ul {
  list-style: none;
}